*{
    background-color: black;
    color: chocolate;
    text-align: center;
}
#def{
    border: 10px solid rgb(56, 16, 21);
    background-color: orange;
}
#abc{
    background-color: greenyellow;
}
.a{
    background-color: blue;
}
.b{
    background-color: yellow;
}
.c{
    background-color: blue;
}
.d{
    background-color: aqua;
}